<%
	@tabs = Hash.new
	@tabs["wall"] = "active"
	@requests = !current_user.nil? ? current_user.requests.count : 0
%>
<% if user_signed_in? %>
	<%= render 'layouts/tabs_client' %>
	<div class="page-header">
	  <h1>Bienvenido, <%= current_user.first_name %>!</h1>
	</div>
	<div class="row">
	  <div class="col-xs-12 col-sm-6 col-md-8">
	  	<% if current_user.microposts.count > 0 %>
			<%= render 'shared/micropost_form' %>
			<%= render 'micropost/micropost' %>
		<% else %>
			<%= render 'shared/micropost_form' %>
			<p><strong>No has publicado nada todavía ¡Animate!</strong></p>
		<% end %>
	  </div>
	  <div class="col-xs-6 col-md-4">
	  	<%= render 'shared/suggested_commerces' %>
			
	  	<%= render 'shared/suggested_friends' %>
	  </div>
	</div>
		
<% else %>
	<div class="jumbotron">
		<h1>¡Bienvenido a RestOnLine!</h1>
		<p>RestOnLine es una nueva <b>red social</b> para encontrar los mejores restaurantes y bares cerca
			tuyo, hacer pedidos on-line, realizar reservas, compartir con tus amigos, y mucho más!
			Creá tu cuenta y probá la mejor manera de ir a un restaurante.</p>
		<%= link_to "Iniciar Sesión", new_user_session_path, class: "btn btn-primary btn-lg" %>
	</div>
<% end %>
