
<%= form_for @branch do |f| %>
	<% if @branch.errors.any? %>
		<div id="error_explanation">
		  <h2><%= pluralize(@branch.errors.count, "error") %> prohibited this branch from being saved:</h2>
		
		  <% @branch.errors.full_messages.each do |message| %>
		    <div class="alert alert-danger" role="alert">
		    	<p><%= message %></p>
		    </div>
		  <% end %>
		</div>
	<% end %>
	
	<%= render 'branch_fields', field: f if action_name == "new" %>
	<%= render 'edit_branch_fields', field: f if action_name == "edit" %>
	
	<!-- Registrar Administradores de la Sucursal Principal -->
	<div class="panel panel-default">
		<div class="panel-heading">Administradores</div>
		<div class="panel-body">
			<%= f.fields_for :administrators do |admin| %>
				<%= render 'administrators/administrator_fields', field: admin %>
			<% end %>
		</div>
	</div>
	
	<div class="actions">
		<%= f.submit "Guardar", class: "btn btn-primary" %>
		<%= f.submit "Cancelar", class: "btn btn-danger" %>
	</div>
<% end %>
