<%
	@tabs = Hash.new
	@tabs["wall"] = "active"
%>
<%= render layout: 'layouts/tabs_branch', locals: {title: 'Muro'} {  } %>

<div class="row">
 	<div class="col-xs-12 col-sm-6 col-md-8">
		<% if @branch.publications.count > 0 %>
			<%= render 'shared/publication_form' %>
			<%= render 'publications/publication' %>
		<% else %>
			<%= render 'shared/publication_form' %>
			<p><strong>No has publicado nada todavía ¡Animate!</strong></p>
		<% end %>
	</div>
	<div class="col-xs-6 col-md-4">
		<%= render 'shared/orders' %>
		<%= render 'shared/bookings' %>
		<%= render 'shared/reviews' %>
	</div>
</div>