<%
	@branch = Branch.find_by_id(session[:branch_id])
	commerce_name = @branch.commerce.name
	name = @branch.name
	city = @branch.city.name
	province = @branch.city.province.name
	country = @branch.city.province.country.name
	address = @branch.address
	phone = @branch.phone
%>
<div id="info_branch">
	<div class="panel panel-default">
	  <div class="panel-heading" id="branch-panel-heading"><h3 class="panel-title">Información</h3></div>
	  <div class="panel-body" id="branch-panel-body">
	  	<table>
	  		<tr>
	  			<td>Comercio: </td> <td><strong><%= commerce_name %></strong></td>
	  		</tr>
	  		<tr>
	  			<td>Local: </td> <td><strong><%= name %></strong></td>
	  		</tr>
	  		<tr>
	  			<td>Ubicación: </td> <td><strong><%= city + ', ' + province + ', ' + country %></strong></td>
	  		</tr>
	  		<tr>
	  			<td>Dirección: </td> <td><strong><%= address %></strong></td>
	  		</tr>
	  		<tr>
	  			<td>Teléfono: </td> <td><strong><%= phone %></strong></td>
	  		</tr>
	  	</table>
	  </div>
	</div>
</div>
 
