
		<div class="col-xs-6 col-sm-6 col-md-6">
			<div class="well">
				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="<%= item.photo %>" alt="<%= item.name %>" width="100px" height="100px">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading"><%= item.name %></h4>
						<%= item.description %>
					</div>
					<div class="item-bottom">
						<div class="links-branch"><a href="#">Eliminar</a> | <a href="#">Editar</a></div> 
						<div class="price-branch"><%= number_to_currency item.price %></div>
					</div>
				</div>
			</div>
		</div>
