<div id="<%= "popup-item-" + item.id.to_s %>" class="white-popup mfp-hide">
  <%= render layout: 'items/view', locals: {item: item} {} %>
</div>



<div class="col-xs-6 col-sm-6 col-md-6">
	<div class="well">
		<div class="media">
			<div class="media-left">
				<a href="<%= "#popup-item-" + item.id.to_s %>" class="open-popup-link">
					<img class="media-object" src="<%= item.photo %>" alt="<%= item.name %>" width="100px" height="100px">
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading"><%= item.name %></h4>
				<%= item.description %>
			</div>
			<div class="item-bottom">
				<div class="links-branch">
					<% if user_signed_in? %>
						<% if action_name == "edit" %>
							<%= link_to "Eliminar", item_path(item.id), method: :delete, data: { confirm: "¿Está segurro de eliminar este item?" } %> 
								| <%= link_to "Editar", edit_item_path(item.id) %> | <a href="<%= "#popup-item-" + item.id.to_s %>" class="open-popup-link">Ver</a>
							<h4 class="text-right">Precio: <span style="color: green"><%= number_to_currency item.price %></span></h4>
						<% else %>
						      <h4 class="text-right">Precio: <span style="color: green"><%= number_to_currency item.price %></span></h4>
						      <%= link_to '¡Pedir Ahora!', "#new_order_line_modal_#{item.id}", 'data-toggle' => 'modal', class: "btn btn-primary" %>
						      	<div class="modal fade" id="new_order_line_modal_<%= item.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								  <div class="modal-dialog">
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								        <h4 class="modal-title" id="myModalLabel">Agregar item</h4>
								      </div>
								      <div class="modal-body">
								        <%= render 'items/form_request', modal: true, item: item %>
								      </div>
								      <div class="modal-footer">
								        <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal_<%= item.id %>">Cerrar</button>
								      </div>
								    </div>
								  </div>
								</div>
						<% end %>
					<% end %>
				</div> 
			</div>
		</div>
	</div>
</div>
