<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Nuevo Comercio</h4>
    <%= current_user.email %>
  </div>
  <div class="panel-body">
  	<% @commerce.user = current_user %>
    <%= form_for @commerce, method: :post do |f| %>
      <div class="form-group">
        <%= f.label "Nombre del Comercio" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      	
	<div class="panel panel-default">
		<div class="panel-heading">Casa Central</div>
		<div class="panel-body">
			<%= f.fields_for :branches do |field| %>
	        	<div class="form-group">
					<%= field.label "Nombre de la Sucursal" %>
		        	<%= field.text_field :name, class: "form-control" %>
	        	</div>
	        	<div class="form-group">
					<%= field.label "Dirección" %>
		        	<%= field.text_field :address, class: "form-control" %>
	        	</div>
	        	<div class="form-group">
					<%= field.label "Teléfono" %>
		        	<%= field.text_field :phone, class: "form-control" %>
	        	</div>
	        	<div class="form-group">
					<%= field.label "Tipo" %>
		        	<%= field.collection_select :type, Type.all, :id, :name, {prompt: "Selecciona un tipo"}, {class: "form-control"} %>
	        	</div>
	        	<div class="form-group">
					<%= field.label "Ciudad" %>
		        	<%= field.collection_select :city, City.all, :id, :name, {prompt: "Selecciona una ciudad"}, {class: "form-control"} %>
	        	</div>
	        <% end %>
		</div>
	</div>
      <%= f.submit "Registrar", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>