<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Nuevo Comercio</h4>
    <p>Está por registrar un nuevo comercio a nombre de: <%= current_user.first_name + ' ' + current_user.last_name %></p>
  </div>
  <div class="panel-body">
  	<% @commerce.user = current_user %>
    <%= form_for @commerce, method: :post do |f| %>
      <div class="form-group">
        <%= f.label "Nombre del Comercio" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      
      <div class="panel panel-default">
      	<div class="panel-heading">Categorías</div>
      	<div class="panel-body">
  			<div class="form-group">
				<%= f.label "Categorías" %>
	        	<%= f.text_field :tag_list, class: "form-control" %>
        	</div>
      	</div>
      </div>
	<div class="panel panel-default">
		<div class="panel-heading">Casa Central</div>
		<div class="panel-body">
			<%= f.fields_for :branches do |field| %>
	        	<div class="form-group">
					<%= field.label "Nombre de la Sucursal" %>
		        	<%= field.text_field :name, class: "form-control" %>
	        	</div>
	        	
	        	<div class="form-group">
					<%= field.label "Tipo" %>
		        	<%= field.collection_select :type, Type.all, :id, :name, {prompt: "Selecciona un tipo"}, {class: "form-control"} %>
	        	</div>
	        	<div class="form-group">
					<%= field.label "País" %>
		        	<%= select_tag :country_id, options_from_collection_for_select(Country.all, 'id', 'name'),
		        		class: "form-control", :prompt => "Selecciona un país" %>
	        	</div>
	        	<div class="form-group">
					<%= field.label "Provincia" %>
					<%= select_tag :province_id, options_from_collection_for_select([], 'id', 'name'), class: "form-control",
						"data-option-dependent" => true,
						"data-option-observed" => 'country_id',
						"data-option-url" => "/countries/:country_id:/provinces.json",
						"data-option-key-method" => :id,
						"data-option-value-method" => :name,
						"data-option-message" => "Seleccione una provincia" %>
				</div>
	        	<div class="form-group">
					<%= field.label "Ciudad" %>
					<%= field.select :city, options_from_collection_for_select([], 'id', 'name'), {multiple: true},
						"data-option-dependent" => true,
						"data-option-observed" => 'province_id',
						"data-option-url" => "/provinces/:province_id:/cities.json",
						"data-option-key-method" => :id,
						"data-option-value-method" => :name,
						"data-option-message" => "Seleccione una ciudad",
						:class => "form-control" %>
				</div>
				<div class="form-group">
					<%= field.label "Dirección" %>
		        	<%= field.text_field :address, class: "form-control" %>
	        	</div>
	        	<div class="form-group">
					<%= field.label "Teléfono" %>
		        	<%= field.text_field :phone, class: "form-control" %>
	        	</div>
	        	
	        	<%= field.fields_for :administrators do |field_admin| %>
	        		<div class="panel panel-default">
						<div class="panel-heading">Administradores</div>
						<div class="panel-body">
							<table class="table">
								<thead>
									<th>Usuario</th>
									<th><a href="#">Agregar Administrador</a></th>
								</thead
								<tbody>
									<tr>
										<td><%= current_user.first_name + ' ' + current_user.last_name %> (yo)</td>
										<td></td>
									</tr>
									<tr>
										<td></td>
										<td><a href="#">Quitar</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
	        	<% end %>
	        <% end %>
		</div>
	</div>
      <%= f.submit "Registrar", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>