<div class="col-xs-12 col-sm-6 col-md-8">
	<% if @commerce.nil? %>
		<p>Error. El comercio no existe</p>
	<% else %>
		<div class="page-header">
		  <h1><%= @commerce.name %></h1>
		</div>
		<div class="panel panel-primary">
		  <div class="panel-heading">Información Básica</div>
		  <div class="panel-body">
		  	<!-- Table -->
			<table class="table">
				<tr>
					<td class="col-md-4">Nombre</td>
					<td class="col-md-8"><%= @commerce.name %></td>
				</tr>
				<tr>
					<td class="col-md-4">Propietario</td>
					<td class="col-md-8"><%= @commerce.user.first_name + ' ' + @commerce.user.last_name %></td>
				</tr>
				<tr>
					<td class="col-md-4">Categorías</td>
					<td class="col-md-8"><%= @commerce.tag_list %></td>
				</tr>
			</table>
		  </div>
		</div>
		<% @commerce.branches.each do |branch| %>
			<div class="panel panel-success">
			  <div class="panel-heading">Sucursal <strong><%= branch.name %></strong></div>
			  <div class="panel-body">
			  	<!-- Table -->
				<table class="table">
					<tr>
						<td class="col-md-4">Nombre</td>
						<td class="col-md-8"><%= branch.name %></td>
					</tr>
					<tr>
						<td class="col-md-4">Dirección</td>
						<td class="col-md-8"><%= branch.address %></td>
					</tr>
					<tr>
						<td class="col-md-4">Teléfono</td>
						<td class="col-md-8"><%= branch.phone %></td>
					</tr>
				</table>
			  </div>
			</div>
		<% end %>
	<% end %>
</div>
