<div class="well">
	<div class="media">
		<div class="media-left">
			<img class="media-object" src="<%= item.photo %>" alt="<%= item.name %>" width="100px" height="100px">
		</div>
		<div class="media-body">
			<h4 class="media-heading"><%= item.name %></h4>
			<%= item.description %>
		</div>
		<div class="item-bottom">
			<div class="links-branch">.</div> 
			<div class="price-branch"><%= number_to_currency item.price %></div>
		</div>
	</div>
</div>