<div class="page-header">
	<div class="row">
		<div class="col-xs-8 col-sm-8 col-md-8">
			<div class="img-branch">
				<img src="<%= current_branch.photo_url %>" alt="<%= current_branch.name %>" width="100px" height="100px"/>
			</div>
			<div class="title-branch">
				<h1 id="branch-title"><%= title %></h1>
				<h2><%= current_branch.commerce.name + ' - ' + current_branch.name %></h2>
			</div>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4">
			<%= render 'shared/branch_info' %>
		</div>
	</div>
</div>
<ul class="nav nav-tabs nav-justified">
  <li role="presentation" class="<%= @tabs["wall"] %>">
  	<a href="<%= @tabs["wall"] == "active" ? "#" : branch_profile_path(@branch.id) %>">Muro</a>
  </li>
  <li role="presentation" class="<%= @tabs["menus"] %>">
  	<a href="<%= @tabs["menus"] == "active" ? "#" : menu_path(@branch.id) %>">Carta</a>
  </li>
  <li role="presentation" class="<%= @tabs["orders"] %>">
  	<a href="<%= @tabs["orders"] == "active" ? "#" : cart_path %>">Pedidos On-line</a>
  <li role="presentation" class="<%= @tabs["reservations"] %>">
  	<a href="<%= @tabs["reservations"] == "active" ? "#" : bookings_path %>">Reservas On-line</a>
</ul>

<br />